<!DOCTYTPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<h1 class="home"> HI  hello <%= name %> </h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit"> Log Out </button>
</form>
</body>
</html>